* {
    -fx-font-family: 'Roboto';
    -fx-fill: textColor;
}

.button {
 -fx-text-fill: white;
 -fx-background-color: buttonColor;
 -fx-cursor: hand;
}

.button:hover {
 -fx-background-color: backgroundButtonColor;
}

#searchButton {
    -fx-text-fill: black;
    -fx-background-color: white; /* Colore di sfondo del bottone normale */
    -fx-cursor: hand;
}

#searchButton:pressed {
 -fx-scale-x: 0.95;
 -fx-scale-y: 0.95;
}

#barcheAMotoreText:hover, #barcheAVelaText:hover, #barcheDaPescaText:hover, #barcheSportiveText:hover, #barcheTradizionaliText:hover, #catamaraniText:hover, #gommoniText:hover, #trimaraniText:hover{
 -fx-scale-x: 0.9;
 -fx-scale-y: 0.9;
 -fx-cursor: hand;
}

#upperPane {
 -fx-background-color: upperBackgroundColor;
}

#totalAnchorPane {
 -fx-background-color: backgroundColor;
}

#bottomPane {
 -fx-background-color: BottomBackgroundColor;
}

#priceText {
 -fx-fill: black;
}

#loginButton {
 -fx-font-size: 24px;
}

#loginButton:pressed {
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}



#barcheAMotoreText, #barcheAVelaText, #barcheDaPescaText, #barcheSportiveText, #barcheTradizionaliText, #catamaraniText, #gommoniText, #trimaraniText, #textUpgrade, #loginText{
 -fx-fill: white; /* Colore arancio per il testo delle label */
 -fx-font-size: 12px; /* Dimensione del carattere 16px per il testo personalizzato */
 -fx-cursor: hand;  /*appare la mano quando il cursore ci va sopra*/
}

#accessHbox:hover,#wishlistIcon:hover,#prenotazioniIcon:hover, #logoutImage:hover {
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
  -fx-cursor: hand; /*appare la mano quando il cursore ci va sopra*/

}

#dolcevitaYachteSailIcon:hover{
 -fx-cursor: hand; /*appare la mano quando il cursore ci va sopra*/
}

#textLogin:hover{
 -fx-cursor: hand; /*appare la mano quando il cursore ci va sopra*/
 -fx-font-size: 15px; /*Dimensione del carattere 16px per il testo personalizzato */
}

#textUpgrade:hover{
  -fx-cursor: hand; /*appare la mano quando il cursore ci va sopra*/
  -fx-font-size: 19px; /*Dimensione del carattere 16px per il testo personalizzato*/
}

/* CATEGORY PAGE */
#vBoxCategoryPage, #scrollPaneCategoryPage {
 -fx-background-color: backgroundColor;
}



                                                                                           /* INIZIO LOGIN*/
#registerNow {
 -fx-fill: blueColor;
}

#wrongLoginText {
 -fx-fill: #f20c0c;
}

#closeLoginScene, #registerNow, #forgotPassword, #returnHomeImage, #dolcevitaYachteSailLogoIcon{
 -fx-cursor: hand;
}

#loginUpperPane {
 -fx-background-color: upperBackgroundColor;
}

#loginAnchorPane {
 -fx-background-color: backgroundColor;
}

#boxLogin {
 -fx-background-color: boxColor;
 -fx-background-radius: 15px;
}

                                                                                           /* PASSWORD DIMENTICATA */

#hBoxRecoveryPage, #recoveryAnchorPane {
 -fx-background-color: backgroundColor;
}

                                                                                           /* FINE LOGIN*/

                                                                                           /* INIZIO REGISTRATION*/


#registrationUpperPane {
 -fx-background-color: upperBackgroundColor;
}

#registrationAnchorPane {
 -fx-background-color: backgroundColor;
}

#boxRegistration {
 -fx-background-color: boxColor;
 -fx-background-radius: 15px;
}

#createAccountButton {
 -fx-font-size: 24px;
 -fx-cursor: hand;
}

#privacyInformationText {
 -fx-cursor: hand;
 -fx-fill: blueColor;
}

                                                                                           /* FINE REGISTRATION*/

                                                                                           /* INIZIO RECOVERY PAGE */

#recoveryUpperPane {
 -fx-background-color: upperBackgroundColor;
}

#boxRecoveryPassword {
 -fx-background-color: boxColor;
 -fx-background-radius: 15px;
}

#recoveryPasswordButton {
 -fx-font-size: 24px;
 -fx-cursor: hand;
}

#clientService {
 -fx-fill: blueColor;
 -fx-cursor: hand;
}

#wrongEmailText {
 -fx-fill: red;
}

                                                                                           /* FINE RECOVERY PAGE */

                                                                                           /* INIZIO HOMEPAGE BOX */

#bottomBoxPage {
 -fx-background-color: upperBackgroundColor;
}

#privacyInformation, #generalCondition, #dolcevitaYachteSailInformation {
 -fx-fill: white;
}

#privacyInformation:hover, #generalCondition:hover, #dolcevitaYachteSailInformation:hover {
 -fx-cursor: hand;
 -fx-font-size: 11px;
}

#vBoxBarca1, #vBoxBarca2, #vBoxBarca3, #vBoxBarca4, #vBoxBarca5, #vBoxBarca6, #vBoxBarca7, #vBoxBarca8, #vBoxBarca9, #vBoxBarca10, #vBoxBarca11, #vBoxBarca12, #vBoxBarca13, #vBoxBarca14, #vBoxBarca15 {
 -fx-background-color: vBoxColor;
 -fx-background-radius: 10px;
}

#hBox1, #hBox2, #hBox3, #totalBox {
 -fx-background-color: backgroundColor;
}



                                                                                           /* FINE HOMEPAGE BOX */

                                                                                           /* INIZIO BOX PAGE */

#totalVboxBoxPage, #scrollPaneBoxPage {
 -fx-background-color: backgroundColor;
}

#vBoxBarca1:hover, #vBoxBarca2:hover, #vBoxBarca3:hover, #vBoxBarca4:hover, #vBoxBarca5:hover, #vBoxBarca6:hover, #vBoxBarca7:hover, #vBoxBarca8:hover, #vBoxBarca9:hover, #vBoxBarca10:hover, #vBoxBarca11:hover, #vBoxBarca12:hover, #vBoxBarca13:hover, #vBoxBarca14:hover, #vBoxBarca15:hover{
 -fx-cursor: hand;
}

#titleText1, #titleText2, #titleText3, #titleText4, #titleText5, #titleText6, #titleText7, #titleText8, #titleText9, #titleText10, #titleText11, #titleText12, #titleText13, #titleText14, #titleText15, #priceText1, #priceText2, #priceText3, #priceText4, #priceText5, #priceText6, #priceText7, #priceText8, #priceText9, #priceText10, #priceText11, #priceText12, #priceText13, #priceText14, #priceText15 {
 -fx-font-size: 20px;
}

                                                                                           /* FINE BOX PAGE */


                                                                                           /* INIZIO BARCA VIEW */
#totalVbox, #scrollPaneBarcaView {
 -fx-background-color: backgroundColor;
}

#barcaImageBox {
 -fx-background-color: vBoxColor;
 -fx-background-radius: 10px;
}

#barcaField, #priceText {
 -fx-font-size: 30px;
}

#prenotaquiunavisitaText {
    -fx-fill: green;
    -fx-font-size: 15px;
}

#prezzoText {
    -fx-font-size: 15px;
}


#descriptionField, #SimilarBarche, #titleSimilarBarcaText1, #titleSimilarBarcaText2, #titleSimilarBarcaText3, #titleSimilarBarcaText4, #titleSimilarBarcaText5 {
 -fx-font-size: 20px;
}

#prenotaButton, #addToWishlistButton{
 -fx-font-size: 16px;
}

#vBoxSimilarBarca1, #vBoxSimilarBarca2, #vBoxSimilarBarca3, #vBoxSimilarBarca4, #vBoxSimilarBarca5 {
 -fx-background-color: vBoxColor;
 -fx-background-radius: 10px;
}

#vBoxSimilarBarca1:hover, #vBoxSimilarBarca2:hover, #vBoxSimilarBarca3:hover, #vBoxSimilarBarca4:hover, #vBoxSimilarBarca5:hover {
  -fx-cursor: hand;
}

#actionBox {
 -fx-border-width: 1px;                                 //spessore della linea
 -fx-border-radius: 10px;
 -fx-border-color: #585858;
}

#prenotaButton: pressed, #addToWishlistButton: pressed{
 -fx-scale-x: 0.95;
 -fx-scale-y: 0.95;
}

                                                                                           /* FINE BARCA VIEW */

                                                                                           /* INIZIO WISHLIST */

#vBoxWishlist {
 -fx-background-color: backgroundColor;
}

#hBox1, #hBox2, #hBox3, #hBox4, #hBox5, #hBox6 {
  -fx-background-color: boxColor;
  -fx-background-radius: 10px;
}

#wishlistPriceBar1, #wishlistPriceBar2, #wishlistPriceBar3, #wishlistPriceBar4, #wishlistPriceBar5, #wishlistPriceBar6, #wishlistTitleBar1, #wishlistTitleBar2, #wishlistTitleBar3, #wishlistTitleBar4, #wishlistTitleBar5, #wishlistTitleBar6, #wishlistImage1, #wishlistImage2, #wishlistImage3, #wishlistImage4, #wishlistImage5, #wishlistImage6{
 -fx-font-size: 30px;
 -fx-cursor: hand;
}

#wishlistRemoveButton1, #wishlistRemoveButton2, #wishlistRemoveButton3, #wishlistRemoveButton4, #wishlistRemoveButton5, #wishlistRemoveButton6 {
 -fx-font-size: 12px;
 -fx-cursor: hand;
}

                                                                                           /* FINE WISHLIST */

                                                                                            /* INIZIO PRENOTAZIONE */

#vBoxPrenotazioni {
    -fx-background-color: backgroundColor;
}

#hBox1, #hBox2, #hBox3, #hBox4, #hBox5, #hBox6 {
    -fx-background-color: boxColor;
    -fx-background-radius: 10px;
}

#prenotazioniRemoveButton1, #prenotazioniRemoveButton2, #prenotazioniRemoveButton3, #prenotazioniRemoveButton4, #prenotazioniRemoveButton5, #prenotazioniRemoveButton6 {
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

#prenotazioniTitleBar1, #prenotazioniTitleBar2, #prenotazioniTitleBar3, #prenotazioniTitleBar4, #prenotazioniTitleBar5, #prenotazioniTitleBar6{
    -fx-font-size: 30px;
}

#dataPrenotazione1, #dataPrenotazione2, #dataPrenotazione3, #dataPrenotazione4, #dataPrenotazione5, #dataPrenotazione6, #prenotazioniGiornoBar1, #prenotazioniGiornoBar2, #prenotazioniGiornoBar3, #prenotazioniGiornoBar4, #prenotazioniGiornoBar5,  #prenotazioniGiornoBar6, #trattino1Bar1, #trattino1Bar2, #trattino1Bar3, #trattino1Bar4, #trattino1Bar5, #trattino1Bar6, #trattino2Bar1, #trattino2Bar2, #trattino2Bar3, #trattino2Bar4, #trattino2Bar5, #trattino2Bar6, #prenotazioniMeseBar1, #prenotazioniMeseBar2, #prenotazioniMeseBar3, #prenotazioniMeseBar4, #prenotazioniMeseBar5,  #prenotazioniMeseBar6, #prenotazioniAnnoBar1, #prenotazioniAnnoBar2, #prenotazioniAnnoBar3, #prenotazioniAnnoBar4, #prenotazioniAnnoBar5,  #prenotazioniAnnoBar6, #utentePrenotatoBar1, #utentePrenotatoBar2, #utentePrenotatoBar3, #utentePrenotatoBar4, #utentePrenotatoBar5, #utentePrenotatoBar5, #utentePrenotatoBar6 {
    -fx-font-size: 17px;
}



                                                                                            /* FINE PRENOTAZIONE */

                                                                                           /* INIZIO ACCOUNT */

#hBoxAccountPage, #scrollPaneAccount, #vBoxAccount {
 -fx-background-color: backgroundColor;
}

#changePasswordText, #changePasswordButton, #nameText1, #nameText2, #surnameText1, #surnameText2, #aggiungiunabarcaText, #inserisciFotoBarca, #aggiungiBarcaButton {
 -fx-font-size: 14px;
}

#changePasswordButton, #categoriaBarcaBox, #inserisciFotoBarca, #aggiungiBarcaButton, #inserisciFotoBarca, #aggiungiBarcaButton {
 -fx-cursor: hand;
}

#alertPasswordText {
 -fx-fill: #ff0000;
}

#vBox1, #vBox2, #vBox3, #vBox4, #vBox5, #vBox6 {
 -fx-background-color: boxColor;
 -fx-background-radius: 8px;
}


                                                                                           /* FINE ACCOUNT */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : backgroundColor;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(scrollBarColor, 10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(scrollBarHover, 10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}